.table-tree {

    &-wrapper {
        margin: 0 -15px;
        width: calc(100% + 30px);
        overflow-x: auto;
        overflow-y: hidden;

        @media (min-width: $breakpoint-md) {
            margin: 0;
            width: 100%;
        }

    }

    width: 100%;
    font-size: 12px;

    @media (min-width: $breakpoint-lg) {
        width: auto;
        min-width: 500px;
        max-width: 960px;
        margin: 0 auto;
    }

    tr {
        vertical-align: top;

        td {
            border-top: 1px solid #dee2e6;
            position: relative;
            cursor: pointer;
            overflow: hidden;

            &:first-child {
                padding: 10px 20px 10px 15px;
            }

            &:last-child {
                padding: 10px 15px 10px 0;

                >span {
                    display: none;
                    margin-top: 16px;
                    padding-top: 14px;
                    border-top: 1px dashed #dee2e6;
                    font-style: italic;
                    color: #575962;

                    &::before {
                        content: 'Definisi:';
                        font-style: normal;
                        font-weight: 700;
                        display: block;
                    }
                }
            }
        }

        //

        @mixin tr($x, $color) {
            &.lv-#{$x} {
                &:hover {
                    background: rgba($color, .05);
                }

                >td:first-child {
                    color: $color;
                    padding-left: 10px * ($x+1) + 9px;
                }

                &.toggle>td:first-child::after {
                    left: 10px * $x + 5px;
                }
            }
        }

        >td:first-child {
            font-weight: 900;
        }

        &.toggle>td:first-child {
            &::after {
                @include font-awesome("\f054");
                font-size: 11px;
                transform: rotate(0);
                transition: transform .15s ease-in-out;
                top: 13px;
                opacity: .3;
            }

            &:hover::after {
                opacity: 1;
            }
        }

        @include tr(1, #f25961);
        @include tr(2, #6861ce);
        @include tr(3, #23903c);
        @include tr(4, #fd7e14);
        @include tr(5, #777);
        @include tr(6, #777);

        &.toggle-expanded>td:first-child {
            &::after {
                opacity: .8;
                transform: rotate(90deg);
            }

            &:hover::after {
                transform: rotate(-90deg);
            }
        }

        &.mini>td:last-child>div {
            position: absolute;
            left: 0;
            right: 32px;
            top: 50%;
            transform: translateY(-50%);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.desc>td:last-child {
            padding-right: 32px;

            &::after {
                @include font-awesome('\f128');
                top: 8px;
                right: 8px;
                font-size: 13px;
                opacity: .6;
            }

            &:hover::after {
                opacity: 1;
            }
        }

        &.desc-expanded>td:last-child {
            padding-right: 15px;

            &::before,
            &::after {
                display: none;
            }

            >div {
                position: unset;
                transform: unset;
                white-space: unset;
            }

            >span {
                display: block;
            }
        }

        &.lv-0 {
            vertical-align: middle;
            background: #fff;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
            color: $theme-black;

            @media (min-width: $breakpoint-md) {
                border-left: 1px solid #dee2e6;
                border-right: 1px solid #dee2e6;
            }

            >td {
                &:first-child {
                    padding: 14px 20px 14px 15px;

                    >div {
                        background-color: transparent;
                        background-image: linear-gradient(135deg, $theme-lightyellow 10%, $theme-yellow 100%);
                        background-image: -moz-linear-gradient(135deg, $theme-lightyellow 10%, $theme-yellow 100%);
                        background-image: -webkit-linear-gradient(135deg, $theme-lightyellow 10%, $theme-yellow 100%);
                        color: $theme-black;
                        display: inline-block;
                        padding: 10px 0;
                        border-radius: 8px;
                        font-size: 18px;
                        line-height: 1;
                        min-width: 38px;
                        text-align: center;
                    }
                }

                &:last-child {
                    padding: 14px 48px 14px 0;
                }
            }

            &.toggle>td:first-child {
                &::after {
                    top: calc(50% + 20px);
                    left: 31px;
                    opacity: .3;
                    transform: rotate(90deg);
                    color: #575962;
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            &.toggle-expanded>td:first-child {
                &::after {
                    opacity: .8;
                    transform: rotate(90deg);
                }

                &:hover::after {
                    transform: rotate(-90deg);
                }
            }

            &.desc>td:last-child {
                padding: 14px 32px 14px 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 68px;
                    height: 68px;
                    transform: translate(50%, -50%);
                    border-radius: 100%;
                    background: #f5f5f5;
                }

                &:hover::before {
                    background: $theme-yellow;
                }

                &::after {
                    font-size: 14px;
                }
            }
        }
    }
}